<a href="https://colab.research.google.com/github/canfielder/DSBA-6190_Airline_Data/blob/master/Data_Science_Portfolio_Airline_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ingest

## Libary / Package

In [0]:
import pandas as pd

## Data

In [0]:
df = pd.read_csv("https://aws-tc-largeobjects.s3-us-west-2.amazonaws.com/CUR-TF-200-ACBDFO-1/Lab5/flightdata.csv")

# EDA

In [4]:
df.describe()

            Year         Month  ...  SecurityDelay  LateAircraftDelay
count  1048575.0  1.048575e+06  ...  270096.000000      270096.000000
mean      2008.0  1.422297e+00  ...       0.083955          21.974676
std          0.0  4.939256e-01  ...       1.728502          39.753498
min       2008.0  1.000000e+00  ...       0.000000           0.000000
25%       2008.0  1.000000e+00  ...       0.000000           0.000000
50%       2008.0  1.000000e+00  ...       0.000000           0.000000
75%       2008.0  2.000000e+00  ...       0.000000          28.000000
max       2008.0  2.000000e+00  ...     149.000000        1143.000000

[8 rows x 24 columns]

In [8]:
# Check Missing Values
df.isna().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                33963
CRSDepTime                 0
ArrTime                36612
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                20276
ActualElapsedTime      36612
CRSElapsedTime           175
AirTime                36612
ArrDelay               36612
DepDelay               33963
Origin                     0
Dest                       0
Distance                   0
TaxiIn                 36612
TaxiOut                33963
Cancelled                  0
CancellationCode     1014612
Diverted                   0
CarrierDelay          778479
WeatherDelay          778479
NASDelay              778479
SecurityDelay         778479
LateAircraftDelay     778479
dtype: int64

# Model

# Conclusion